form {
    display: flex;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 10px;
    width: 500px;
    margin: 0 auto;
}

.input {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.description {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.description > label {
    margin: 5px;
}

input {
    margin: 5px;
}

.dropdown {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.dropdown > label {
    width: 50%;
}

.dropdown > div {
    justify-content: space-between;
}

select {
    margin: 5px;
    margin-left: 10px;
}

button {
    height: 30px;
    margin: 20px auto;
    display: block;
}
